# https://EditorConfig.org
# Prettier takes care of a lot when saving a file, but lets keep things
# consistent and set some values here as well
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 2
